{% extends "layout.html" %}
{% set title = "Home" %}

{% block main %}

<div class="dash-hero dash-colour-white">
  <h1 class="dash-hero-title">Dash Audio Visual Identity</h1>
  <p class="dash-text-caps">Typography &amp; Colours</p>
</div>

<div class="guide-row dash-wrapper dash-clearfix dash-pad-top-epsilon dash-pad-bottom-zeta">
  <div class="guide-column">
    <h2>General</h2>
    <p>
      The Dash corporate font is Proxima Nova, mostly used in weights 100, 400, 800 (Thin, Regular
      and Extrabold).
    </p>
  </div>
  <div class="guide-column">
    <h2>Headers</h2>
    <p>
      Headers are set in extrabold, generally going from 44px to 32px, 22px and 18px and are always
      black or white.
    </p>
    <p>
      Different sizes may be used for one-off occasions, like the larger-than-life type above. In
      that case make them sufficiently different to the standard sizes.
    </p>
    <h3 class="dash-text-weight-alpha">Thin</h3>
    <p>
      You may also use Proxima Nova Thin if the overal page starts to look too heavy, but only in
      sizes 32 and above, like in the header to this block.
    </p>
    <h3 class="dash-text-caps">All Caps</h3>
    <p>
      Make sure type set in all caps also has a letter spacing of 0.1em.
    </p>
  </div>

  <div class="guide-column">
    <h1 class="dash-text-heading-beta">Paragraph</h1>
    <p>
      General paragraph copy is set in Proxima Nova Regular, 16px and in medium grey—#626262
    </p>
    <p>
      <a>Links</a> within a text block are black and blue—<span class="dash-colour-azure">#5284FF</span>—on hover.
    </p>
    <p>
      Make sure to use glyphs appropriately. Use em-dashes, apostrophes, semi-colons etc.
    </p>
    <p class="dash-text-footnote">
      Make sure to use glyphs and ligatures (em-dashes, apostrophes, semi-colons etc.) appropriately. More on this here. Btw, footnotes are set in 12px Proxima Nova Regular
    </p>
    <p class="dash-text-footnote dash-colour-white">
      They can also be a lighter grey
    </p>
  </div>
</div>

<div class="guide-row dash-wrapper dash-clearfix dash-outline-top dash-pad-top-epsilon dash-pad-bottom-epsilon">
  <div class="guide-column">
    <h1 class="dash-text-heading-beta">Colour</h1>
    <p>
      The Dash palette is a tropical mix of bright, slightly pastel-like colours. Our main colour is a kind of azure blue that can be used for a solid background, an image overlay, in illustrations and for hover states of links.
    </p>
    <p>
      Use flush coloured backgrounds to add emphasis and always use white-out type.
    </p>
  </div>
</div>

<div class="">
  <ul>
    <div class="guide-row">
      <li class="guide-tile dash-colour-background-azure dash-colour-white">
        <span class="dash-text-weight-eta dash-text-size-epsilon">Azure</span><br/>
        <span class="dash-text-caps">#5284ff</span>
      </li>
      <li class="guide-tile dash-colour-background-peach-red dash-colour-white">
        <span class="dash-text-weight-eta dash-text-size-epsilon">Peach Red</span><br/>
        <span class="dash-text-caps">#ff836b</span>
      </li>
      <li class="guide-tile dash-colour-background-blossom-pink dash-colour-white">
        <span class="dash-text-weight-eta dash-text-size-epsilon">Blossom Pink</span><br/>
        <span class="dash-text-caps">#f7cbdf</span>
      </li>
    </div>

    <div class="guide-row">
      <li class="guide-tile dash-colour-background-yellow-gold dash-colour-white">
        <span class="dash-text-weight-eta dash-text-size-epsilon">Yellow Gold</span><br/>
        <span class="dash-text-caps">#ffd46b</span>
      </li>
      <li class="guide-tile dash-colour-background-sand dash-colour-white">
        <span class="dash-text-weight-eta dash-text-size-epsilon">Sand</span><br/>
        <span class="dash-text-caps">#c7b487</span>
      </li>
      <li class="guide-tile dash-colour-background-tropical-green dash-colour-white">
        <span class="dash-text-weight-eta dash-text-size-epsilon">Tropical Green</span><br/>
        <span class="dash-text-caps">#6ae2a6</span>
      </li>
    </div>
  </ul>
</div>


{% endblock %}
